<div class="row  corpoHome ">
    <div class="col barraEsquerda"></div>
    <div class="col-lg-8 col-md-8 col-sm-12 container">
        <h2 class="nomePrincipal">Bem vindo ao Points Tadeus</h2>
        <p>Desenvolvido por mim Willians Tadeu, ou tio Tadeus, é um pequeno sistema para gerenciamento de pontos!</p>
        <p>Esses pontos são atribuidos por tarefas realizadas para mim, por exemplo todos vez que os meus sobrinhos vem em minha casa, e realizam alguma tarefa ganham pontos, ou quando eu combino algo tipo escrever uma redação, ler um texto, até mesmo fazer
            um desenho, ganham pontos, resumindo cada tarefa realizada ganham pontos</p>
        <p>E juntos decidimos, metas! Isso mesmo METAS!</p>
        <p>Na vida nada vem de graça, eu troco os pontos por algo que eles desejam!</p>
        <p>Ou como diz o Sr. Cortela:</p>
        <blockquote cite="Mario Sergio Cortela">
            <p>Vaca não dá leite.</p>
            <p>>>>>>><a href="https://www.youtube.com/watch?v=cWW3hHkBpUk" target="_blank" alt="Link para o video">Link para o video</a>
                <<<<<<<</p>
        </blockquote>
        <br>
        <p>Exemplo de pontuação</p>
        <br>
        <table class="table table-striped">
            <tr class="centertr" scope="row">
                <th>Tarefa</th>
                <th>Pontos</th>

            </tr>
            <tr>
                <td>Lavar a louça</td>
                <td>5 pontos</td>
            </tr>

            <tr>
                <td>Varrer a casa</td>
                <td>5 pontos</td>
            </tr>

            <tr>
                <td>Escrever uma redação(livro)</td>
                <td>30 pontos</td>
            </tr>
        </table>

        <p>E por ai vai.......</p>
        <p>Até ai sem novidades, tarefa realizada pontos ganhos!</p>
        <p>Dai pra frente ou eles resgatam pessoalmente comigo ou através das metas</p>

        <table class="table table-striped">
            <tr class="centertr" scope="row">
                <th>Premios</th>
                <th>Pontos</th>

            </tr>
            <tr>
                <td>Capinha nova do celular</td>
                <td>200 pontos</td>
            </tr>

            <tr>
                <td>Jogo de video game novo</td>
                <td>1500 pontos</td>
            </tr>
            <tr>
                <td>Cinema</td>
                <td>100 pontos</td>
            </tr>
            <tr>
                <td>Moeda de jogos</td>
                <td>300 pontos</td>
            </tr>
        </table>
        <p>Somente os maiores de 18 anos farão as metas e definirão as tarefas</p>
        <p>Os adultos também poderam fazer os seus propios sistemas de pontos e metas</p>
        <p>Pontos e metas dos adultos!</p>
        <table class="table table-striped">
            <tr class="centertr" scope="row">
                <th>Tarefas</th>
                <th>Pontos</th>
                <th class="cor2">Premios</th>
                <th class="cor2">Pontos</th>

            </tr>
            <tr>
                <td>Manter a dieta - semana</td>
                <td>50 pontos</td>
                <td>Restaurante final de semana</td>
                <td>200 pontos</td>
            </tr>

            <tr>
                <td>Academia 4x semana</td>
                <td>100 pontos</td>
                <td>Cerveja com os amigos</td>
                <td>1000 pontos</td>
            </tr>
            <tr>
                <td>Não procrastinar</td>
                <td>500 pontos</td>
                <td>Ir ao cinema</td>
                <td>100 pontos</td>
            </tr>
            <tr>
                <td>Correr 5 km 3x semana</td>
                <td>50 pontos</td>
                <td>Tenis novo de corrida</td>
                <td>1000 pontos</td>
            </tr>
        </table>
        <br>
        <p>E ai curtiu? Basta se inscrever em nosso sistema e aproveitar para incentivar as crianças a educação financeira ou ussar para você mesmo controlando as suas própias metas! </p>
    </div>
    <div class="col barraDireita"></div>
</div>