.cAzul {
    background-color: var(--color-azul);
    color: whitesmoke;
}

.login a {
    color: white;
    text-decoration: none;
}

.login {
    text-align: end;
    width: 100%;
}

.login mat-icon {
    margin-right: 0.625rem;
}