<div class="corpoDialogue">
    <mat-card>
        <mat-card-title>
            Cadastrar Prêmio
        </mat-card-title>
        <mat-card-subtitle>
            <p>Defina os prêmios e o valor necessário para poder resgatar.</p>
        </mat-card-subtitle>
        <mat-card-content>
            <form class="tm10" [formGroup]="mestreForm">
                <mat-form-field style="width: 60%;">
                    <mat-label>Prêmio</mat-label>
                    <input matInput type="text" formControlName="premio" title="Digite o seu prêmio">
                </mat-form-field>
                <mat-form-field class="inputPontos">
                    <mat-label>Pontos</mat-label>
                    <input matInput type="number" formControlName="pontosPremio" title="Digite o seu prêmio">
                </mat-form-field>

            </form>

        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="warn" mat-dialog-close>
                Cancelar
              </button>
            <button mat-raised-button class="btnSalvar" mat-dialog-close (click)="salvar()">Salvar</button>
        </mat-card-actions>
    </mat-card>
</div>