<mat-card>
    <div class="botoes row ">
        <div class="col"> <button class="btn marujo"><mat-icon>person_add</mat-icon> <a (idUsuario)="idUsuario" routerLink="/create-user">Criar Marujo</a> </button>
        </div>
        <div class="col "> <button class="btn premio " (click)="openTarefa(content)">Adiciona Premio</button>
        </div>
        <div class="col"> <button class="btn  missao" (click)="openMissao(contentMissao)">Adiciona Missao</button>
        </div>
    </div>
</mat-card>

<ng-template #content let-modal>
    <div class=" modal-header header-premio">
        <h4 class="modal-title " id="modal-basic-title ">Cadastrar Prêmio</h4>
        <button type="button " class="btn-close " aria-label="Close " (click)="modal.dismiss( 'Cross click') "></button>
    </div>
    <div class="modal-body ">
        <form [formGroup]="premioForm ">
            <mat-label>Selecione o seu subordinado(a)</mat-label>
            <select formControlName="idUsuario" class="form-select " aria-label="Default select example ">
                <option value=" Escolha o seu subordinado" disabled selected >Escolha o seu subordinado</option>
                <option *ngFor="let item of marujo " value="{{item[0].id}} "> {{item[0].nmUSuario}} </option>
                <option value = true >Todos os subordinados</option>
              </select>

            <mat-form-field class="w100">
                <mat-label>Premio</mat-label>
                <input matInput type="text " formControlName="premioSave">
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label>Pontos</mat-label>
                <input matInput type="number " formControlName="pontosSave">
            </mat-form-field>
        </form>
    </div>
    <div class="modal-footer ">
        <button type="submit " class="btn btn-component " (click)="savePontosPremio() ">Save</button>
    </div>
</ng-template>

<ng-template #contentMissao let-modal>
    <div class="modal-header header-missao ">
        <h4 class="modal-title " id="modal-basic-title ">Cadastrar Missao</h4>
        <button type="button " class="btn-close " aria-label="Close " (click)="modal.dismiss( 'Cross click') "></button>
    </div>
    <div class="modal-body ">
        <form [formGroup]="missionForm ">
            <mat-label>Selecione o seu subordinado(a)</mat-label>
            <select formControlName="idUsuarioMission" class="form-select " aria-label="Default select example ">
                
                <option disabled selected >Escolha o seu subordinado</option>
                <option *ngFor="let item of marujo " value="{{item[0].id}} "> {{item[0].nmUSuario}} </option>
                <option value = true >Todos os subordinados</option>
              </select>

            <mat-form-field class="w100">
                <mat-label>Missao</mat-label>
                <input matInput type="text " formControlName="missao">
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label>Pontos</mat-label>
                <input matInput type="number " formControlName="pontos_missao">
            </mat-form-field>
        </form>
    </div>
    <div class="modal-footer ">
        <button type="submit " class="btn btn-component " (click)="savePontosMission() ">Save</button>
    </div>
</ng-template>



<mat-card>
    <mat-card-title>
    </mat-card-title>
    <mat-card-content>

        <div class="row " *ngFor="let marujito of marujo ; index as j ">
            <div>
                <div class=" col-lg-12 card cardPrincipal ">
                    <div class="card-title ">{{marujito[0].nmUSuario}}</div>
                    <div class="card-content positionEnd "> {{marujito[0].pontos}} pontos</div>
                </div>

            </div>
            <div class="col-lg-6 col-sm-12 tabela ">
                <table class="table table-light ">
                    <thead>
                        <tr>
                            <th class="descricao ">Premio</th>
                            <th class="pontos text-center ">Pontos</th>
                            <th class="text-center ">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of dataSourcePremio[j] ">
                            <td class="text-justify ">{{item.premio }}</td>
                            <td class="text-center ">{{item.pontosPremio}}</td>
                            <td class="btn-position "><button class="btn btn-danger btn-ex " (click)="deletePremio(item.id) " type="button ">
                            Excluir <mat-icon>close</mat-icon>  </button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6 col-sm-12 ">
                <table class="table table-light ">
                    <thead>
                        <tr>
                            <th class="descricao ">Missão </th>
                            <th class="pontos text-center ">Pontos</th>
                            <th class="text-center ">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of dataSourceMission[j] ">
                            <td class="text-justify ">{{item.missao}}</td>
                            <td class="text-center ">{{item.pontosMissao}}</td>
                            <td class="btn-position "><button class="btn btn-danger btn-ex " (click)="deleteMissao(item.id) " type="button ">
                            Excluir  <mat-icon>close</mat-icon>  </button></td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <hr>
        </div>

    </mat-card-content>
</mat-card>